@import "tailwindcss";

@theme {
  --color-sample-50: #e8fbfd;
  --color-sample-100: #d1f8fa;
  --color-sample-200: #9eeff5;
  --color-sample-300: #70e8f0;
  --color-sample-400: #41e0ec;
  --color-sample-500: #17d2e1;
  --color-sample-600: #12aab5;
  --color-sample-700: #0e7e86;
  --color-sample-800: #095358;
  --color-sample-900: #052c2e;
  --color-sample-950: #021617;
}
